/* Aula inicial :D */
body{
  background-image: url('https://img.freepik.com/vetores-gratis/imagem-realista-de-um-raio-eletrico-starburst_1284-21466.jpg?size=338&ext=jpg');
  background-size: auto 100vh;
  font-family: Arial;
  height: 100vh;
}

.menu{
  background-color: white;
    
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

a {
  color: teal;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.site-subtitle,
.site-title{
  color: whitesmoke;
  text-align: center;
}

.site-subtitle{
  font-style: italic;
}
